h1 {
    text-align:center
}

ul.todos {
  list-style: none;
}

ul.todos li {
    border-bottom:1px solid #ccc;
    padding: 8px 0;
}

ul.todos input.due {
  width: 70px;
  display: inline;
}

ul.todos input[type="checkbox"], ul.todos input[type="number"], ul.todos input[type="text"] {
  margin-right: 8px;
}